---
import "../styles/global.css";
---

<div>
  <h4>Brødtekst</h4>
  <p id="bb1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat alias
    ratione unde cumque, illum, aut beatae nihil aspernatur quidem perferendis
    accusamus minus adipisci.
  </p>
  <p id="b1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat alias
    ratione unde cumque, illum, aut beatae nihil aspernatur quidem perferendis
    accusamus minus adipisci.
  </p>
  <p id="bb2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat alias
    ratione unde cumque, illum, aut beatae nihil aspernatur quidem perferendis
    accusamus minus adipisci.
  </p>
  <p id="b2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat alias
    ratione unde cumque, illum, aut beatae nihil aspernatur quidem perferendis
    accusamus minus adipisci.
  </p>
</div>

<style>
  h4 {
    padding-top: var(--spacing-32);
    font-family: "open-sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--color-primary-blue-700);
    font-size: 24px;
    padding-bottom: var(--spacing-16);
  }
  div {
    background-color: var(--color-secondary-mint);
    padding-left: var(--spacing-96);
    padding-right: var(--spacing-96);
  }
  #bb1 {
    max-width: 1000px;
    font-family: "open-sans", sans-serif;
    font-weight: 700;
    color: var(--color-primary-blue-700);
    font-size: var(--font-size-body-1);
    padding-bottom: var(--spacing-16);
    line-height: var(--line-height-body-1);
  }
  #b1 {
    max-width: 1000px;
    font-family: "open-sans", sans-serif;
    font-weight: 500;
    color: var(--color-primary-blue);
    font-size: var(--font-size-body-1);
    padding-bottom: var(--spacing-16);
    line-height: var(--line-height-body-1);
  }
  #bb2 {
    max-width: 1000px;
    font-family: "open-sans", sans-serif;
    font-weight: 700;
    color: var(--color-primary-blue-700);
    font-size: var(--font-size-body-2);
    padding-bottom: var(--spacing-16);
    line-height: var(--line-height-body-2);
  }

  #b2 {
    max-width: 1000px;
    font-family: "open-sans", sans-serif;
    font-weight: 500;
    color: var(--color-primary-blue);
    font-size: var(--font-size-body-2);
    padding-bottom: var(--spacing-16);
    line-height: var(--line-height-body-2);
  }
</style>
